# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# Other
.env
data/
cache/
test/
